<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img src="{{uiRootPath}}/img/pipelines-icon.png" class="navbar-logo" alt="OpenShift Pipelines icon">
        <a href="">OpenShift Pipelines - Unofficial documentation</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://docs.openshift-pipelines.org">Home</a>
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Upstream Projects</a>
              <div class="navbar-dropdown">
                  <a class="navbar-item" href="https://tekton.dev/docs">Tekton</a>
              </div>
          </div>
      </div>
    </div>
  </nav>
</header>
